<h1>Chat</h1>

<form (ngSubmit)="sendMessage()" #chatForm="ngForm">
    <div>
        <label for="message">Message</label>
        <input type="text" id="message" name="message" [(ngModel)]="message" required/>
    </div>
    <button type="submit" id="sendMessage">
        Send message
    </button>
</form>

<ul>
    <li *ngFor="let message of publicMessages" [ngClass]="message.messageType === MessageType.Action ? 'action-message' : ''" >{{message.content}}</li>
</ul>

<ul>
    <li *ngFor="let user of users">{{user.name}}</li>
</ul>
